{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">

var speedRotation = 1.;
var speedVelocity = 1.;

function updateSpeeds(){
    speedRotation = document.getElementById('speedRotation').value;
    speedVelocity = document.getElementById('speedVelocity').value;
}

window.ev = false;

$('document').ready(function(){

    document.getElementById('stream-container').onmouseover = function () {
        window.ev = true;
    }
    
    document.getElementById('stream-container').onmouseout = function () {
        window.ev = false;
    }

    /* Event listener to detect key order */
    document.addEventListener('keydown', function(event) {
    
        if (window.ev === true) {
        
            //console.log('Key was pressed!', event.keyCode);
            // Speed vector
            var vector = [0, 0];
            
            // Check LEFT
            if ((event.keyCode == 37) | (event.keyCode == 81)) {
                //console.log('Left was pressed');
                vector[0] -= 1;
                
            // Check RIGHT
            } else if ((event.keyCode == 39) | (event.keyCode == 68)) {
                //console.log('Right was pressed');
                vector[0] += 1;
            
            // Check UP
            } else if ((event.keyCode == 38) | (event.keyCode == 90)) {
                //console.log('Up was pressed');
                vector[1] -= 1;
                
            // Check DOWN
            } else if ((event.keyCode == 40) | (event.keyCode == 83)) {
                //console.log('Down was pressed');
                vector[1] += 1;
                
            }
            
            
            // Nothing if no velocity
            if (vector[1] == 0) {
                vector[0] = 0;
            }
            
            $.ajax({
                url: "http://127.0.0.1:9500/",
                type: "POST",
                data: JSON.stringify({
                    'vector': vector,
                    'speedVelocity': speedVelocity,
                    'speedRotation': speedRotation,
                }),
                header: {
                    'Access-Control-Allow-Origin': "*",
                    'Referrer-Policy': "same-origin"
                },
                success : function(data, response) {              
                    console.log('response:', data);
                },
            })
            
        }
        
    }, true);
    
});

</script>



<div class="container" style="width: 100%;">

  <div class="column">

    <div class="row">
      <label for="speedRotation">Speed Rotation</label>
      <input id="speedRotation" name="speedRotation" type="text" value="1." onclick="updateSpeeds();">
      <label for="speedVelocity">Speed Velocity</label>
      <input id="speedVelocity" name="speedVelocity" type="text" value="1." onclick="updateSpeeds();">
    </div>
    
    <div id="stream-container" style="margin-left: auto; margin-right: auto; width: 100%; height: 100%">
      <img type="video/mpeg" src="http://127.0.0.1:9000/stream.mjpg">
    </div>
  
  </div>

</div>

{% endblock %}